body {
    background-color: #242c4b;
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: #242c4b;
    border-bottom: 2px solid white; /* Linha para dividir o header do body */
    position: fixed; /* Fixa o menu no topo */
    top: 0;
    height: 18%;
    width: 100%;
    z-index: 1000; /* Garante que o menu fique acima dos outros elementos */
}

.logo img {
    max-width: 120px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background: none;
    border: none; /* Remove o contorno (border) */
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

nav button:hover {
    background-color: white;
    color: #1E1E2F;
}

.content {
    text-align: center;
    padding: 40px;
    margin-top: 120px;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}

.whatsapp-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.map-container {
    margin-top: 40px;
    text-align: center;
}

.mapBox{
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
}