body {
    background-color: #242c4b;
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.Menu {
    text-align: center;
    padding: 20px 0;
    background-color: #242c4b;
}

.logo img {
    max-width: 150px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #242c4b;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

nav button:hover {
    background-color: white;
    color: #1E1E2F;
}

.Destaque h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #ff4b5c;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #2E2E3A;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .description {
    padding: 20px;
}

.card h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card button {
    width: 100%;
    padding: 10px;
    background-color: #ff4b5c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.card button:hover {
    background-color: #e53b4c;
}

.card:hover {
    transform: translateY(-5px);
}
